<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barangay Poblacion Information System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <!-- Header Section -->
    <header>
    <div class="header-container">
        <h1><a href="{{ url_for('index') }}">Barangay Poblacion Information System</a></h1>
        <nav class="menu">
            {% if user_name %}
                <span>Hello, {{ user_name }}!</span>
                <a href="{{ url_for('logout') }}" class="btn-logout">Log Out</a>
            {% else %}
                <a href="{{ url_for('login') }}" class="btn-login">Admin Log In</a>
            {% endif %}
        </nav>
    </div>
    </header>


    <!-- Chat Interface -->
    <div class="chat-interface">
        <!-- Chatbox -->
        <div id="chatbox" class="chatbox">
            <!-- Example Bot Welcome Message -->
            <div class="message bot">
                <p><b>Welcome Barangay Poblacion Information System!</b><br> An assistant for BLGU Services of Poblacion, Carmen, Surigao del Sur<br><br>How can I help you today?</p>
            </div>
        </div>

        <!-- Chat Input -->
        <div class="chat-input">
            <textarea id="message" placeholder="Message GovEase" autocomplete="off"></textarea>
            <button id="send-btn">➤</button>
        </div>
    </div>

    <!-- Footer Section -->
    <footer>
        <p>&copy; 2024 Barangay Poblacion Information System. All rights reserved. Poblacion, Carmen, Surigao del Sur, Philippines 8315</p>
    </footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
